<a [routerLink]="['/product', product.id]" class="flex flex-col gap-3 group cursor-pointer">
  <div class="relative aspect-[3/4] w-full overflow-hidden rounded-lg bg-gray-100">
    <app-badge *ngIf="primaryBadge" [label]="primaryBadge"></app-badge>
    <img
      [alt]="product.images.mainImage.alt"
      class="h-full w-full object-cover object-center transition-transform duration-300 group-hover:scale-105"
      [src]="imageUrlService.getImageUrl(product.images?.mainImage?.url || product.imageUrl)"
    />
    <app-icon-button
      icon="add_shopping_cart"
      class="absolute bottom-4 right-4 opacity-0 translate-y-4 transition-all duration-300 group-hover:opacity-100 group-hover:translate-y-0"
      variant="light"
    ></app-icon-button>
  </div>
  <div class="flex flex-col gap-1">
    <h3 class="text-lg font-semibold text-primary dark:text-white group-hover:text-[#4d8799] transition-colors">
      {{ product.name }}
    </h3>
    <p class="text-sm text-gray-500 dark:text-gray-400">{{ selectedColorName }}</p>
    <app-price-display class="mt-1 text-primary dark:text-white" [amount]="product.price" size="md">
    </app-price-display>
  </div>
</a>
