<nav aria-label="Breadcrumb" class="flex py-6">
  <ol class="flex items-center space-x-2">
    <li><a class="text-text-sub hover:text-primary text-sm dark:text-gray-400 dark:hover:text-white" routerLink="/">Home</a></li>
    <li><span class="text-text-sub text-sm dark:text-gray-500">/</span></li>
    <li><a class="text-text-sub hover:text-primary text-sm dark:text-gray-400 dark:hover:text-white" routerLink="/men">Men</a></li>
    <li><span class="text-text-sub text-sm dark:text-gray-500">/</span></li>
    <li><span class="text-primary font-semibold text-sm dark:text-white">All Products</span></li>
  </ol>
</nav>
